body .widgetContainer {
  position: fixed;
  bottom: 40px;
  left: 30px; }
  body .widgetContainer * {
    margin: 0;
    padding: 0;
    box-sizing: border-box; }
  body .widgetContainer .widget {
    height: 50px;
    width: 50px;
    background: #FF4242;
    border-radius: 100%;
    float: left;
    color: #F9FCF9;
    text-align: center;
    cursor: pointer; }
    body .widgetContainer .widget i {
      line-height: 50px; }
  body .widgetContainer .desc {
    float: right;
    color: #FF4242;
    line-height: 50px;
    margin-left: 20px;
    opacity: 0;
    transition: 0.3s all;
    transform: translateX(-15px);
    font-family: "Montserrat", sans-serif;
    font-weight: 600; }
body .formContainer {
  min-height: 150px;
  width: 500px;
  transform: translate(-50%, -50%);
  background: #F9FCF9;
  position: fixed;
  left: 50%;
  top: 50%;
  z-index: -100000;
  visibility: hidden;
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
  border: 2px solid #F9FCF9; }
  body .formContainer.success {
    box-shadow: 0px 0px 15px rgba(58, 216, 124, 0.3);
    border-color: #3AD87C; }
  body .formContainer.failure {
    box-shadow: 0px 0px 15px rgba(255, 66, 66, 0.3);
    border-color: #FF4242; }
  body .formContainer * {
    margin: 0;
    padding: 0;
    box-sizing: border-box; }
  body .formContainer.visible {
    z-index: 10000;
    visibility: visible; }
    body .formContainer.visible form input {
      padding: 5px 10px;
      background: transparent;
      border-bottom: 1px solid blue;
      font-size: 16px;
      border: 0px;
      border-bottom: 1px solid #D8D4D4;
      transition: 0.3s border-bottom, color;
      font-family: "Montserrat", sans-serif;
      font-weight: 300; }
      body .formContainer.visible form input:focus {
        outline: none;
        border-bottom: 1px solid #8C8989; }
      body .formContainer.visible form input:hover {
        border-bottom: 1px solid #B2AEAE; }
      body .formContainer.visible form input.email {
        width: 100%;
        margin: 10px 0px 20px; }
      body .formContainer.visible form input.number {
        width: 49%;
        margin-left: 5px; }
      body .formContainer.visible form input.name {
        width: 49%;
        margin-right: 5px; }
    body .formContainer.visible form button {
      text-align: center;
      margin-top: 20px;
      padding: 8px 25px;
      background: transparent;
      border: 1px solid #D8D4D4;
      position: relative;
      left: 50%;
      transform: translateX(-50%);
      font-size: 15px;
      font-weight: 400;
      border-radius: 20px;
      font-family: Montserrat;
      text-transform: uppercase;
      color: #8C8989;
      cursor: pointer;
      transition: 0.3s border; }
      body .formContainer.visible form button.success {
        border-color: #3AD87C;
        color: #3AD87C;
        cursor: default; }
        body .formContainer.visible form button.success:hover {
          border: 1px solid #3AD87C; }
      body .formContainer.visible form button.failure {
        color: #FF4242;
        border-color: #FF4242; }
        body .formContainer.visible form button.failure:hover {
          border: 1px solid #FF4242; }
      body .formContainer.visible form button:hover {
        border: 1px solid #B2AEAE; }
      body .formContainer.visible form button:focus {
        outline: none; }
  body .formContainer h3 {
    font-size: 22px;
    margin-bottom: 10px;
    text-align: center;
    line-height: 30px;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    color: #8C8989; }
  body .formContainer .close {
    height: 30px;
    width: 30px;
    right: -15px;
    top: -15px;
    border-radius: 100%;
    position: absolute;
    background: #FF4242;
    text-align: center;
    cursor: pointer; }
    body .formContainer .close i {
      color: #F9FCF9;
      line-height: 30px; }
